[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div
  class="has-background-grey-darker"
  style="height: 100%; background-size: cover"
  id="vue-target"
  v-cloak
>
  <section
    class="hero has-background-black-ter"
    style="position: sticky; top: 0; z-index: 1"
  >
    <div class="hero-body">
      <div class="columns">
        <div class="column is-1" style="display: flex; align-items: center">
          <button
            class="button has-background-grey block"
            v-if="is_gallery_preview"
            @click="back_to_browse"
          >
            <span style="color: rgb(255, 250, 241)">Back to Browse</span>
          </button>
        </div>
        <div class="column" v-if="!is_gallery_preview">
          <div class="field">
            <p class="control has-icons-right">
              <input
                class="input is-rounded is-large"
                type="text"
                placeholder="Search for a Gallery"
                style="background-color: rgb(255, 250, 241)"
                v-model="search_query"
                @keyup="search"
              />
              <span class="icon is-small is-right clickable" @click="clear">
                <i class="fa fa-times-circle"></i>
              </span>
            </p>
          </div>
        </div>
        <div class="column" v-if="is_gallery_preview">
          <div class="has-text-centered">
            <h1
              style="
                color: rgb(255, 250, 241);
                font-family: 'Times New Roman', Times, serif;
                font-size: 80px;
              "
            >
              {{gallery_display_name}}
            </h1>
          </div>
        </div>
        <div class="column is-1"></div>
      </div>
    </div>
  </section>

  <div class="section" v-if="!is_displaying_search && !is_gallery_preview">
    <div class="columns" v-for="group in grouped_galleries">
      <div class="column is-4" v-for="gallery in group">
        <div class="card">
          <div
            class="card-content"
            style="height: 30vh; background-color: rgb(255, 250, 241)"
          >
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                width: fit-content;
                height: 25vh;
              "
            >
              <b class="is-size-1 has-text-centered">{{gallery.name}}</b>
            </div>
          </div>
          <footer
            class="card-footer"
            style="background-color: rgb(255, 250, 241)"
          >
            <a
              @click="open_gallery_details(gallery._idx)"
              class="card-footer-item"
              >View Details</a
            >
            <a
              @click="get_items_from_gallery(gallery.id, gallery.name)"
              class="card-footer-item"
              >View Items</a
            >
          </footer>
        </div>
      </div>
    </div>
  </div>

  <div class="section" v-if="is_displaying_search && !is_gallery_preview">
    <div class="columns" v-for="group in grouped_search">
      <div class="column is-4" v-for="gallery in group">
        <div class="card">
          <div
            class="card-content"
            style="height: 30vh; background-color: rgb(255, 250, 241)"
          >
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                width: fit-content;
                height: 25vh;
              "
            >
              <b class="is-size-1 has-text-centered">{{gallery.name}}</b>
            </div>
          </div>
          <footer
            class="card-footer"
            style="background-color: rgb(255, 250, 241)"
          >
            <a
              @click="open_gallery_details(gallery._idx)"
              class="card-footer-item"
              >View Details</a
            >
            <a
              @click="get_items_from_gallery(gallery.id, gallery.name)"
              class="card-footer-item"
              >View Items</a
            >
          </footer>
        </div>
      </div>
    </div>
  </div>

  <div class="section" v-if="is_gallery_preview">
    <div class="columns" v-for="group in grouped_gallery_inventory">
      <div class="column is-4" v-for="item in group">
        <div class="card">
          <div
            class="card-content"
            style="height: 30vh; background-color: rgb(255, 250, 241)"
          >
            <div
              style="
                display: grid;
                align-items: center;
                text-align: center;
                width: 100%;
                height: 25vh;
              "
            >
              <div class="columns">
                <div class="column is-1"></div>
                <div class="column">
                  <b class="is-size-3 has-text-centered">{{item.title}}</b>
                </div>
                <div class="column is-1"></div>
              </div>
              <div class="columns">
                <div class="column is-1"></div>
                <div class="column">
                  <i
                    class="is-size-4 has-text-centered"
                    v-if="item.artist != 'Unknown'"
                    >by {{item.artist}}</i
                  >
                  <i
                    class="is-size-4 has-text-centered"
                    v-if="item.artist == 'Unknown'"
                    >Artist Unknown</i
                  >
                </div>
                <div class="column is-1"></div>
              </div>
            </div>
          </div>
          <footer
            class="card-footer"
            style="background-color: rgb(255, 250, 241)"
          >
            <a @click="open_item_details(item._idx)" class="card-footer-item"
              >View Details</a
            >
          </footer>
        </div>
      </div>
    </div>
  </div>

  <!------------------------------------------->
  <!------------GALLERY VIEW MODAL------------->
  <!------------------------------------------->

  <div id="gallery_view_modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-1" style="text-align: center">
          <b style="text-transform: capitalize">{{curr_gallery_name}}</b>
        </p>
        <button
          class="delete"
          aria-label="close"
          onclick="this.closest('.modal').classList.remove('is-active')"
        ></button>
      </header>
      <section
        class="modal-card-body"
        style="background-color: rgb(255, 250, 241)"
      >
        <div class="columns">
          <div class="column">
            <p class="is-1">
              **********Placeholder for Logo/Location**********
            </p>
          </div>
          <div class="column">
            <p class="block is-1">{{curr_gallery_description}}</p>
            <div class="container has-text-centered">
              <button class="button has-background-grey-darker block">
                <span style="color: rgb(255, 250, 241)">View Inventory</span>
              </button>
            </div>
          </div>
        </div>
      </section>
      <footer class="modal-card-foot">
        <div class="container has-text-centered">
          <button
            class="button has-background-grey-darker"
            style="align-self: center"
            @click="follow_gallery(curr_gallery_idx)"
          >
            <span
              style="color: rgb(255, 250, 241)"
              v-if="curr_gallery_following"
              >Follow Gallery</span
            >
            <span
              style="color: rgb(255, 250, 241)"
              v-if="!curr_gallery_following"
              >Following</span
            >
          </button>
        </div>
      </footer>
    </div>
  </div>

  <!------------------------------------------->
  <!--------------ITEM VIEW MODAL-------------->
  <!------------------------------------------->

  <div id="item_view_modal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title is-1" style="text-align: center">
          <b style="text-transform: capitalize">{{curr_item_title}}</b>
        </p>
        <button
          class="delete"
          aria-label="close"
          onclick="this.closest('.modal').classList.remove('is-active')"
        ></button>
      </header>
      <section
        class="modal-card-body"
        style="background-color: rgb(255, 250, 241)"
      >
        <div class="columns">
          <div class="column">
            <p class="is-1">**********Placeholder for Image**********</p>
          </div>
          <div class="column">
            <span><b>Title: </b><i>{{curr_item_title}}</i></span>
            <br />
            <span><b>Artist: </b><i>{{curr_item_artist}}</i></span>
            <br />
            <span
              ><b>Type: </b
              ><i style="text-transform: capitalize"
                >{{curr_item_type}}</i
              ></span
            >
            <br />
            <span><b>Origin: </b><i>{{curr_item_origin}}</i></span>
            <br />
            <span><b>Era: </b><i>{{curr_item_time_period}}</i></span>
            <br />
            <span
              ><b>Status: </b
              ><i style="text-transform: capitalize"
                >{{curr_item_status}}</i
              ></span
            >
          </div>
        </div>
      </section>
      <footer class="modal-card-foot"></footer>
    </div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_galleries_url = "[[=XML(get_galleries_url)]]";
  let get_items_from_gallery_url = "[[=XML(get_items_from_gallery_url)]]";
  let follow_gallery_url = "[[=XML(follow_gallery_url)]]";
</script>
<script src="js/gallery.js"></script>
[[end]]
