[[extend 'layout.html']]

<style>
  [v-cloak] {
    display: none;
  }
</style>

<div
  class="has-background-grey-darker"
  style="height: 100vh; margin: 0; padding: 0"
  id="vue-target"
  v-cloak
>
  <section class="hero has-background-grey-darker">
    <div class="hero-body">
      <img
        class="logo"
        height="80%"
        width="80%"
        style="margin-left: auto; margin-right: auto; display: block"
        src="images/artefakt_logo.png"
      />
    </div>
  </section>

  <div class="section columns">
    <div class="column is-1"></div>
    <div class="column">
      <a
        class="button is-large is-light is-fullwidth"
        href="[[=URL('gallery')]]"
      >
        <span
          style="
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: xx-large;
          "
          >Browse Galleries</span
        >
        <span class="icon"><i class="fa fa-search"></i></span>
      </a>
    </div>
    <div class="column is-1"></div>
    <div class="column">
      <a class="button is-large is-light is-fullwidth" href="[[=URL('item')]]">
        <span
          style="
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: xx-large;
          "
          >Browse Items</span
        >
        <span class="icon"><i class="fa fa-search"></i></span>
      </a>
    </div>
    <div class="column is-1"></div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script></script>
<script src="js/index.js"></script>
[[end]]
